.content {
  display: block;
  width: 70%;
}

.recette1 {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.recette2 {
  width: 400px;
  height: 160px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-right: 15px;
}

.recette2:hover {
  cursor: pointer;
  box-shadow: 0 22px 24px 0 rgba(46, 51, 51, 0.07);
}

.recette2 img {
  object-fit: cover;
  width: 130px;
  height: 130px;
  border-radius: 5px;
}

.recettetext {
  width: 50%;
}

h2 {
  color: #2e3333;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 20px;
  margin-top: 30px;
}

.recette2 p {
  font-size: 14px;
  color: #808484;
  margin-bottom: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.recette2 h3 {
  margin-bottom: 8px;
}
